body {
    background:  url(pictures/meal-bg.jpg) rgba(0, 0, 0, 0.482);
    background-blend-mode: darken;
    background-size: cover;
    font-family: Georgia, serif;
  }


  #ingredient-input {
    font-size: larger;
  }


  .meal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .meal-card {
    background: linear-gradient(rgb(55, 55, 55),rgb(210, 210, 210));
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
  }

  .meal-image {
    width: 100%;
    height: auto;
  }

  .meal-name {
    margin: 15px 0;
    font-size: 1.2rem;
    color: rgb(38, 38, 38);
  }

  .meal-video-link {
    display: inline-block;
    margin: 10px 0 20px;
    padding: 8px 15px;
    background-color: #e0dbd8;
    color: #463f3a;
    text-decoration: none;
    border: 1px solid #463f3a;
    border-radius: 5px;
  }

  .meal-video-link:hover {
    background-color: #463f3a;
    color: white;
  }

  