body{
    background: radial-gradient(ellipse, rgb(29, 29, 29), rgb(60, 54, 54));
}
.div1{
    width: fit-content;
    margin: 50px auto;
    border: 1px outset black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.782);
}
form{
    padding: 20px 50px;
}
form *{
    margin: 5px;
}
input{
    padding: 10px;
    width: 300px;
    font-size: medium;
    background-color: rgb(200, 200, 200);
    &:focus{
        box-shadow: 1px 1px 10px rgb(12, 120, 253);
    }

}
#agree{
    width: 30px;
    padding: 10px;
}
form h1{
    text-align: center;
    color: rgb(233, 233, 233);
    margin: 20px;
    
}
label{
    font-size: larger;
    color: whitesmoke;
}
select{
    font-size: large;
    padding: 10px;
}
#submit{
    
    background-color: rgb(59, 128, 255);
    color: white;
    font-size: larger;
    border: 0;
    width: 320px;
    &:hover{
        background-color: rgb(114, 164, 255);
    }
}
@media (max-width: 768px){
    body{
        align-content: center;
        
    }
    .div1{
        max-width: fit-content;
        margin: 50px auto;
        border: 1px outset rgb(234, 234, 234);
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.782);
    }

}